[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
.vscode/
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
node_modules/
appsettings.Local.json
appsettings.*.local.json
*.pfx
*.mdf
*.ldf
*.bak
*.DotSettings.user
*.rsuser
.idea/
Thumbs.db
.DS_Store